extends layout.pug
block content
    .form
        div.row
            div.col-md-8 Money earned: 
            div.col-md-4 #{ wealth } Satoshi
        div.form-group.row
            label.col-md-8.col-form-label(for="priceInput") Price / second in Satoshi
            select#priceInput.form-control.col-md-4
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
                option 9
                option 10
        .row
            a.btn.btn-outline-light( onclick="update()") Update
            
