extends layout.pug
block content
    div.center
        p  Spend some Satoshi for a nicely cut lawn
        br
        img.logo(src="indego.png")
        br
        .form
            div.form-group.row
                label.col-md-8.col-form-label(for="secondsInput") Rent for seconds
                select#secondsInput.form-control.col-md-4
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                    option 6
                    option 7
                    option 8
                    option 9
                    option 10
            .row
                .col-md-8 Price
                div#price.col-md-4 
                
        a.btn.btn-outline-light.margin(href="/payment") Pay with Lightning
        #pricePerSecond #{ pricePerSecond }
        