extends layout.pug    
block content

    div#content

        p Use your Lightning Wallet to scan the code or click on the code to start your local wallet

        a(href="lightning://" #{ inv.payreq })
            img.d-block.w-100.mb-3(src=qr)
            
        